<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Montserrat', sans-serif; ">
    <div class="container">
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="\">Eau Claire's</a>
            <button class="w3-bar-item w3-button"><i class="fa fa-h-square"></i>@Html.ActionLink("Home", "Index", "Home")</button>

            <button class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user-md"></i>@Html.ActionLink("Clients", "Index","Clients")</button>
            <button class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> @Html.ActionLink("Stylists", "Index","Stylists")</button>

        </nav>

        @RenderBody()
    </div>
</body>

</html>