@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h1 >
Hello Claire!</h1>
<small>Welcome back to Eau Claire's Salon</small>
<br>

<button>@Html.ActionLink("New Hire", "Create","Stylists")</button>

<Button>@Html.ActionLink("New Client", "Create","Clients")</Button>
</div>
