@{
  Layout = "_Layout";
}
<h1 class = "jumbotron">
Hello Claire!
<small>Welcome back to Eau Claire's Salon</small>
</h1>
<button>@Html.ActionLink("New Hire", "Create","Stylists")</button>

<Button>@Html.ActionLink("New Client", "Create","Clients")</Button>