body {
  background-color: cornsilk;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  color: cornsilk;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
.container {
  margin-top: 50px;
}
.jumbotron {
  background-color: #70a9a1;
  text-align: center;
  color: cornsilk;
}
#photo {
  border: 50% solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 24px 0 black;
}
.CenterButtons {
  text-align: center;
}
.btn {
  background-color: #70a9a1;
}
