@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
    
    <hr>
    <p>Stylist Name</p>
    @Html.TextBoxFor(model => model.Name)
    <p>Stylist Details</p>
    @Html.TextBoxFor(model => model.Details)
    <br>
    <br>
    <input type="submit" value="Add new stylist" />
}
